*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Background.png);
   background-position:center;
    background-size:cover;
    position:relative;
}
nav {
    display:flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;

}
nav-img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    position: left;

}
.text-box h2{
    font-size: 50px;
    position: left;
    padding: 20px ;

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: red;
    transition: 1s;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display:block;
    
    }
    .nav-links{
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top:0;
        right: 0;
        text-align: left;
        z-index: 2;
        


    } 
}
/*----- service -----*/
.service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
    

}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.service-col{
    flex-basis: 31%;
    background: #f3dcc6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.service-col:hover{
    box-shadow: 0 0 50px 0px rgba(29, 2, 2, 0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*----- equipments -----*/
.equipments{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
    

}
.equipments-col{
    flex-basis: 32%;
    border-radius: 100;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.equipments-col img{
    width: 100%;
}

/*----call to action----*/ 
.cta{
    width: 100%;
    margin:auto;
    text-align: center;
    padding: 100px o;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/VOCAL.jpg);
    background-position: center;
    background-size:auto ;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;


}
  .cta h1{
    color: #fff;
    margin-bottom :50px;
    padding: 0;
  }
.text-box{
    width: 90%;
    color:whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    position: left;

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid cornflowerblue;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid grey;
    background: grey;
    transition: 1s;
   }

   
   /*---- training sessions ----*/
   .training{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
   }
   .training-col{
    flex-basis: 32%;
    border-radius: 100;
    margin-bottom: 80px;
    position: relative;
    overflow: hidden;

}
.training-col img{
    width: 100%;
    height: 250px;
}


.ourshop{
    width:100%;
    position: relative;
    border-radius: 10px;
    margin-top: 40px;

}

#video-container{
    position: relative;
    background-repeat: no-repeat;
    background-color: lightblue;
    background-position: center center;
    background-size: cover;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 250px;
}
.price list{
    width: 20px ;

}
/*---container----*/

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.container-col{
    flex-basis: 31%;
    background: #f0c396;
    border-radius: 100px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
}
.container-col:hover{
    box-shadow: 0 0 50px 0px rgba(238, 103, 103, 0.2);
}
h4{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: blue;

}
p{
    color:grey;
}